<style>
th, td {
  text-align: center;
}
</style>

<%= content_tag(:title, '過去の実験データ') %>
<%= link_to 'TOPに戻る', root_path %>

<table class="table">
</table>

<table class="table table-striped table-bordered table-hover table-condensed center">
  <thead>
    <tr>
      <th>time</th>
      <th>protocol</th>
      <th>seed</th>
      <th>stage</th>
      <th>message num</th>
      <th>total send message num</th>
      <th>finish time</th>
      <th>detail</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @histories.each do |history| %>
      <tr>
        <td><%= history.created_at %></td>
        <td><%= history.protocol %></td>
        <td><%= history.seed %></td>
        <td><%= history.stage_type %></td>
        <td><%= history.message_num %></td>
        <td><%= history.total_send_message_num %></td>
        <td><%= history.clear_time %></td>
        <%= content_tag(:td, button_to("detail", detail_path(history), { class: "btn btn-primary"})) %>
        <%= content_tag(:td, button_to("replay", { controller: "simulates", action: "index", data: {
          seed: history.seed,
          stage_type: history.stage_type
        }}, { class: "btn btn-success" })) %>
      </tr>
    <% end %>
  </tbody>
</table>