<style>
#protocol_list {
  margin-top: 30px;
}

.head {
  font-size: 18px;
}
.button_list {
  border: none;
  background: transparent;
}

</style>
<%= javascript_include_tag 'log/data_list' %>
<%= javascript_include_tag "log/result" %>
<%= javascript_include_tag "log/show" %>
<%= javascript_include_tag "log/line_chart" %>
<%= javascript_include_tag "log/click_event" %>
<%= javascript_include_tag "log/init" %>

<script>
DataList.node_list = <%= @node_list.to_json.html_safe %>
DataList.edge_list = <%= @each_send_data.to_json.html_safe %>
DataList.user_list = <%= @users_data.to_json.html_safe %>
DataList.receive_data = <%= @receive_data.to_json.html_safe %>
DataList.send_data = <%= @send_data.to_json.html_safe %>
DataList.send_count = <%= @send_count.to_json.html_safe %>
DataList.send_user_count = <%= @send_user_count.to_json.html_safe %>
DataList.receive_user_count = <%= @receive_user_count.to_json.html_safe %>
DataList.view_id = <%= @view_id %>
DataList.finish_time = <%= @finish_time %>
DataList.message_num = <%= @message_num %>
console.log(DataList.view_id);
</script>

<div id="protocol_list" class="container">
  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
      <div class="list-group">
        <%= link_to("一覧に戻る", history_path, class: "list-group-item" ) %>
        <a href="#" id='connection_network' class="list-group-item">ネットワーク</a>
        <a href="#" id='send_num' class="list-group-item">送信数</a>
        <a href="#" id='receive_num', class="list-group-item">受信数</a>
        <a href="#" id='send_count', class="list-group-item">通信数</a>
        <a href="#" id='user_send_count', class='list-group-item'>ユーザ別送信数</a>
        <a href="#" id='user_receive_count', class='list-group-item'>ユーザ別受信数</a>
      </div>
    </div><!--/span-->
    <div id="show_result" class="col-xs-12 col-sm-9">
      <%= render @view %>
    </div><!--/span-->
  </div><!--/row-->
  <hr>
  <footer>
    <p>&copy; Company 2013</p>
  </footer>
</div><!--/.container-->