<style>
#play_panel {
  top: 30px;
  left: 700px;
}
</style>

<div class="container-fluid">
	<div id="algorithm_panel" class="panel right_panel">
		<header>
      <h2 class="header_title">Control Panel</h2>
    </header>

    <div class="accordion">
      <% if @edit_mode %>
      <h3 id="draw_objects" onclick="Panel.radioClear()"><a href="#">オブジェクト選択</a></h3>
      <%= render 'object_list' %>
      <h3>ステージ保存</h3>
      <div id="config" class="sub_options">
        <%= form_tag(stage_create_path) do %>
        <div class="form-group">
          <label class="control-label">ファイル名</label>
          <div class="col">
            <%= text_field_tag :filename, params[:filename], { class: "form-control", value: "sample" } %>
            <%= hidden_field_tag :node_num, params[:node_num], { id: "node_num" } %>
            <%= hidden_field_tag :field_data, params[:field_data], { id: "field_data" } %>
            <button id="stage_write" class="btn">登録</button>
          </div>
          <% end %>
        </div>
      </div>
      <% else %>
      <% end %>

      <% unless @edit_mode %>
      <h3>ステージ選択</h3>
      <div id="config" class="sub_options">
        <%= collection_select(:stage, :type, @stages, :id, :filename, { class: "selectpicker" } ) %>
      </div>
      

      <% else %>
      <h3>戻る</h3>
      <div class="sub_options">
        <%= content_tag( :p, link_to("管理画面へ".html_safe, stage_list_path, class: "btn btn-primary"), class: "button") %>  
      </div>
      <% end %>
    </div><!-- .accordion -->
  </div>

  <% unless @edit_mode %>
    <%= render 'control_panel' %>
  <% end %>
  <%= render 'field_info' %>
  <%= render 'user_status' %>
  <div id="canvas_field">
  </div>
</div>

<%= render 'include_file' %>

<script>
<% if defined?(@data) %>
  console.log(<%= @data[:seed] %>);
  Simulator.seed = <%= @data[:seed].to_i %>;
  Simulator.replay = true;
  Simulator.edit_mode = false;
<% end %>

<% if defined?(@edit_mode) %>
  Simulator.edit_mode = true;
<% end %>

<% if defined?(@stage_change) %>
  var config = <%= @config.to_json.html_safe %>
  console.log("stage config =>", config);
  Config.init(config);
  $("#canvas_field").empty();
  View.gridSize = gridSize;
  Init.field();
  Simulator.getCanvasInfo();
  Panel.init();
  View.init();
  View.drawGrid()
  Propagation.init();
  Simulator.init();
  Simulator.stage_change = true;
  Simulator.file_name = "<%= @file_name %>"

  <% @obj_list.each do |obj| %>
  var x, y,
      opt = <%= obj.to_json.html_safe %>

    x = <%= obj[:x] %>
    y = <%= obj[:y] %>
    <% case obj[:type] %>
      <% when :server %>
        Node.create(x, y, opt);
      <% when :start %>
        Node.create( x, y, opt);
      <% when :end %>
        Node.create( x, y, opt);
      <% when :user %>
        Node.create(x, y, opt );
      <% when :wall %>
        Wall.create( x, y );
      <% when :tree %>
        Tree.create( x, y );
      <% when :road %>
        Street.create(x, y);
      <% when :car %>
        Node.create(x, y, opt );
      <% when :lake %>
        Lake.create( x, y);
      <% end %>
    <% end %>
  <% end %>
</script>
