<div class="container-fluid">
	<div id="algorithm_panel" class="panel right_panel">
		<header>
      <h2 class="header_title">Control Panel</h2>
    </header>

    <div class="accordion">
     <h3 id="draw_objects" onclick="Panel.radioClear()"><a href="#">オブジェクト選択</a></h3>
      <div id="draw_options" class="draw_tool">
        <div id="draw_object" class="sub_options">
          <label class="radio">
          <input type="radio" name="draw_object" value="server">
          server
        </label>
        <label class="radio">
          <input type="radio" name="draw_object" value="user">
          user
        </label>
        <label class="radio">
          <input type="radio" name="draw_object" value="home">
          home
        </label>
        <label class="radio">
          <input type="radio" name="draw_object" value="road">
          road
        </label>
        <label class="radio">
          <input type="radio" name="draw_object" value="tree">
          tree
        </label>
        <label class="radio">
          <input type="radio" name="draw_object" value="car">
          car
        </label>
        <label class="radio">
          <input type="radio" name="draw_object" value="office">
          office
        </label>
      </div>
    </div>
  
    <h3>設定ファイル読み込み</h3>
    <div id="config" class="sub_options">
      <button id="stage_write" class="btn">設定書き出し</button>
      <%= form_tag(simulator_path, { remote: true, multipart: true } ) do %>
        <input type="file" id="file-input" name="file">
        <%= submit_tag("送信", { class: "btn" }) %>
      <% end %>
    </div>

    <h3>ステージ選択</h3>
    <div id="config" class="sub_options">
      <%= form_tag(simulator_path, { remote: true, multipart: true } ) do %>
        <%= hidden_field_tag( :stage_type, 1 ) %>
        <%= submit_tag("ステージ1", { id: "stage1", class: "btn" }) %>
      <% end %>
      <%= form_tag(simulator_path, { remote: true, multipart: true } ) do %>
        <%= hidden_field_tag( :stage_type, 2 ) %>
        <%= submit_tag("ステージ2", { id: "stage2", class: "btn" }) %>
      <% end %>
    </div>
  </div><!-- .accordion -->
</div>

<div id="play_panel" class="panel right_panel">
  <button id="button1" class="btn">開始</button>
  <button id="button2" class="btn">停止</button>
  <button id="button3" class="btn">リセット</button>
  <input type="number" id="seed" min="0" value="0">
  <input type="number" id="message_num" min="1" max="100" value="10">
  <select id="protocol" class="selectpicker">
    <optgroup label="Epidemic">
      <option value="0" selected>Epidemic</option>
      <option value="1">Spray and Wait</option>
      <option value="2">ProPHET</option>
    </optgroup>
  </select>
  <div id="clock">
    <span id="time">0</span>
  </div>
</div>

  <canvas id='canvas' width="1500" height="900"></canvas>
</div>
<%= javascript_include_tag "wireless/priority_queue" %>
<%= javascript_include_tag "wireless/connection" %>
<%= javascript_include_tag "wireless/fsm" %>
<%= javascript_include_tag "wireless/mersenne-twister" %>
<%= javascript_include_tag "wireless/street" %>
<%= javascript_include_tag "wireless/car" %>
<%= javascript_include_tag "wireless/office" %>
<%= javascript_include_tag "wireless/tree" %>
<%= javascript_include_tag "wireless/home" %>
<%= javascript_include_tag "wireless/propagation" %>
<%= javascript_include_tag "wireless/server_status" %>
<%= javascript_include_tag "wireless/search" %>
<%= javascript_include_tag "wireless/move_model" %>
<%= javascript_include_tag "wireless/message" %>
<%= javascript_include_tag "wireless/network" %>
<%= javascript_include_tag "wireless/panel" %>
<%= javascript_include_tag "wireless/log" %>
<%= javascript_include_tag "wireless/routing/epidemic" %>
<%= javascript_include_tag "wireless/routing/spray_and_wait" %>
<%= javascript_include_tag "wireless/routing/pro_phet" %>
<%= javascript_include_tag "wireless/node" %>
<%= javascript_include_tag "wireless/stage" %>
<%= javascript_include_tag "wireless/simulator" %>
<%= javascript_include_tag "wireless/config" %>
<%= javascript_include_tag "wireless/view" %>
<%= javascript_include_tag "wireless/init" %>


<script>
  <% if defined?(@data) %>
    console.log(<%= @data[:seed] %>);
    Simulator.seed = <%= @data[:seed].to_i %>;
    Simulator.replay = true;
  <% end %>
</script>
