<div class="container-fluid">
	<div id="algorithm_panel" class="panel right_panel">
		<header>
      <h2 class="header_title">Control Panel</h2>
    </header>

    <div class="accordion">
     <h3 id="draw_objects" onclick="Panel.radioClear()"><a href="#">オブジェクト選択</a></h3>
      <div id="draw_options" class="draw_tool">
        <div id="draw_object" class="sub_options">
          <label class="radio">
          <input type="radio" name="draw_object" value="server">
          server
        </label>
        <label class="radio">
          <input type="radio" name="draw_object" value="user">
          user
        </label>
        <label class="radio">
          <input type="radio" name="draw_object" value="home">
          home
        </label>
        <label class="radio">
          <input type="radio" name="draw_object" value="road">
          road
        </label>
        <label class="radio">
          <input type="radio" name="draw_object" value="tree">
          tree
        </label>
        <label class="radio">
          <input type="radio" name="draw_object" value="car">
          car
        </label>
        <label class="radio">
          <input type="radio" name="draw_object" value="office">
          office
        </label>
      </div>
    </div>
  
    <h3>設定ファイル読み込み</h3>
    <div id="config" class="sub_options">
      <%= form_tag(simulator_path, { remote: true, multipart: true } ) do %>
      <input type="file" id="file-input" name="file" style="display: none;">
      <div class="input-prepend">
        <a class="btn" onclick="$('#file-input').click();"><i class="icon-folder-open"></i></a>
        <span id="cover" class="input-medium uneditable-input">select file</span>
      </div>

      <%= submit_tag("送信", { class: "btn" }) %>
      <% end %>
    </div>
  </div><!-- .accordion -->
</div>

<div id="play_panel" class="panel right_panel">
  <button id="button1" class="btn">開始</button>
  <button id="button2" class="btn">停止</button>
  <button id="button3" class="btn">リセット</button>
  <div id="clock">
    <span id="time">00:00:00:000</span>
  </div>
</div>

  <canvas id='canvas' width="1500" height="900"></canvas>
</div>
<%= javascript_include_tag "wireless/priority_queue" %>
<%= javascript_include_tag "wireless/connection" %>
<%= javascript_include_tag "wireless/fsm" %>
<%= javascript_include_tag "wireless/mersenne-twister" %>
<%= javascript_include_tag "wireless/street" %>
<%= javascript_include_tag "wireless/car" %>
<%= javascript_include_tag "wireless/office" %>
<%= javascript_include_tag "wireless/tree" %>
<%= javascript_include_tag "wireless/home" %>
<%= javascript_include_tag "wireless/propagation" %>
<%= javascript_include_tag "wireless/server_status" %>
<%= javascript_include_tag "wireless/search" %>
<%= javascript_include_tag "wireless/move_model" %>
<%= javascript_include_tag "wireless/message" %>
<%= javascript_include_tag "wireless/network" %>
<%= javascript_include_tag "wireless/panel" %>
<%= javascript_include_tag "wireless/log" %>
<%= javascript_include_tag "wireless/routing/epidemic" %>
<%= javascript_include_tag "wireless/node" %>
<%= javascript_include_tag "wireless/simulator" %>
<%= javascript_include_tag "wireless/view" %>
<%= javascript_include_tag "wireless/init" %>
