<p>
	<%= @result %>
</p>

<%= content_tag( :p , link_to("View details &raquo;".html_safe, history_path, class: "btn btn-primary"), class: "button") %>

<h3>終了タイム: <%= @result[:finish_time] %></h3>
<h3>合計データ送信数: <%= @result[:total_emit] %></h3>

<%= javascript_include_tag "log/result" %>
<%= javascript_include_tag "log/show" %>

<script>
	var test = <%= @result[:transmit].to_json.html_safe %>
	var	show = <%= @result[:receive].to_json.html_safe %>
	var dir_name = <%= @result[:dir_name].to_json.html_safe %>
	var send_file_name = dir_name + "/send_" + <%= @result[:file_name].to_json.html_safe %>
	var receive_file_name = dir_name + "/receive_" + <%= @result[:file_name].to_json.html_safe %>
	console.log(test);
	console.log(dir_name);
	console.log(send_file_name);
	console.log(receive_file_name);
	Result.vertical(test);
	Result.vertical(show);
</script>