<style>
p.button {
	text-align: center;
}

h1 {
	text-align: center;
}

.lead {
	margin-top: 50px;
	margin-bottom: 50px;
}

#wds-info {
	margin-bottom: 50px;
}

#top_page {
	margin-top: 30px;
}
</style>

<div id="top_page" class="container">
	<div class="jumbotron">
		<%= content_tag( :h1, "Web DTN Simulator" ) %>
		<%= content_tag( :p, "このサイトではDTN(Delay Toralent Network)のシミュレーションが行えます。現在DTNでは様々なルーティングプロトコルが提案されていますが、このサイトではそれぞれのプロトコルの比較・検証を行うことが出来ます。", class: "lead") %>
		<%= content_tag( :p , link_to('シミュレータへ', simulator_path, class: "btn btn-lg btn-success"), class: "button") %>
	</div>

	<!-- Example row of columns -->
	<div class="row" id="wds-info">
		<div class="col-lg-4">
			<h2>統計データ</h2>
			<%= content_tag( :p, "各DTNプロトコルの統計情報を閲覧することが出来ます。") %>
			<p><a class="btn btn-primary" href="#">View details &raquo;</a></p>
		</div>
		<div class="col-lg-4">
			<h2>実装プロトコル一覧</h2>
			<%= content_tag( :p, "各種プロトコル一覧。") %>
			<%= content_tag( :p , link_to("View details &raquo;".html_safe, protocol_list_path, class: "btn btn-primary"), class: "button") %>
		</div>
		<div class="col-lg-4">
			<h2>過去データ</h2>
			<%= content_tag( :p, "シミュレーションの実行結果の履歴を閲覧できます。") %>
			<%= content_tag( :p , link_to("View details &raquo;".html_safe, history_path, class: "btn btn-primary"), class: "button") %>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-4">
			<h2>ステージ作成</h2>
			<%= content_tag( :p, "シミュレーションのステージを編集できます。") %>
			<%= content_tag( :p, link_to("View details &raquo;".html_safe, stage_list_path, class: "btn btn-primary"), class: "button") %>	
		</div>
	</div>


	<footer>
		<p class="pull-right"><a href="#">Back to top</a></p>
		<p>&copy; 2013 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
	</footer>
</div>
